<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA_Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Theater</title>
  <!--page-icon------------>
  <link rel="shortcut icon" href="../static/images/logo.png">
  <!--stylesheet------------->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!--light-slider.css------------->
  <link rel="stylesheet" type="text/css" href="../static/css/lightslider.css">
  <!--Jquery-------------------->
  <script type="text/javascript" src="../static/js/Jquery.js"></script>
  <!--lightslider.js--------------->
  <script type="text/javascript" src="../static/js/lightslider.js"></script>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opinions</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
  
<body>
  <section class="slider">
    <ul id="autoWidth" class="cs-hidden">
      <!--1------------------------------------>
      <li class="item-a">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/Cerveza-Aguila-Botella-600x600.jpg" alt="1">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Add</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$23</a>

          </div>

        </div>
      </li>
      <!--2------------------------------------>
      <li class="item-b">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/taza-cafe-salpicaduras-granos-que-caen_159938-32.jpg" alt="2">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$20</a>

          </div>

        </div>
      </li>

      <li class="item-c">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/vnegro.jpg" alt="2">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$20</a>

          </div>

        </div>
      </li>


      <!--3------------------------------------>
      <li class="item-d">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/w700_VINO_BLANCO.jpg" alt="3">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$26</a>
          </div>

        </div>
      </li>
    </ul>
  </section>

  <section class="slider">
    <ul id="autoWidth2" class="cs-hidden">
      <!--1------------------------------------>
      <li class="item-a">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/como-cocinar-el-marisco-800x675.jpg" alt="1">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$23</a>

          </div>

        </div>
      </li>
      <!--2------------------------------------>
      <li class="item-b">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/bistec.jpg" alt="2">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$20</a>

          </div>

        </div>
      </li>
      <!--3------------------------------------>
      <li class="item-c">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/RFB-2312-2-tacos.jpg" alt="3">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$26</a>

          </div>

        </div>
      </li>
      <!--4------------------------------------>
      <li class="item-d">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/kebab.jpg" alt="4">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$27</a>

          </div>

        </div>
      </li>
      <!--5------------------------------------>
      <li class="item-e">
        <!--box-slider--------------->
        <div class="box">
          <!--img-box---------->
          <div class="slide-img">
            <img src="../static/images/pasta-pomodoro.jpg" alt="5">
            <!--overlayer---------->
            <div class="overlay">
              <!--buy-btn------>
              <a href="#" class="buy-btn">Buy Now</a>
            </div>
          </div>
          <!--detail-box--------->
          <div class="detail-box">
            <!--type-------->
            <div class="type">
              <a href="#">Rabbed Cardigan</a>
              <span>Noe Arrival</span>
            </div>
            <!--price-------->
            <a href="#" class="price">$26</a>
            <!--6------------------------------------>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <!--script-link----------->
  <script type="text/javascript" src="../static/js/script.js"></script>
</body>

</html>